@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../resources/DSC04071.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin:0px;
}
.header{
	background:#EDEDED;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
	display: flex;
	float: left;
	height: 3vw;
	
}

h1{
	margin-left:20px;
	margin-bottom: auto;
	margin-top: auto;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 2vw;
	width: 20vw;
}

.navigation{
	margin-left: 60vw;
	display: flex;
	float: left;
}

.nav-links{
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1vw;
}


.footer{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	bottom:0px;
	position:absolute;
	top:100%;
	transform: translateY(-162px);
	height:160px;
	margin-bottom: 0px;
	background: black;
	text-align: center;
	
}

h4{
	margin-bottom:0px;
}

.social-media-footer{
	top:0px;
	display: inline-block;
	text-align: center;
	overflow: auto;
	color: white;
	width: 25%;
	border-bottom: double white;
	height:155px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
}

.noLink{
	color:black !important;
	text-decoration:none !important;
	font-weight: bold;
}

.wrapperDiv{
	position: absolute;
	top:50%;
	margin-left:5%;
	margin-right: 5%;
	width: 90%;
	height: 400px;
	text-align: center;
	border:double #4480D2;
	transform: translateY(-250px);

}

.emptyDiv{
	position: absolute;
	height:20%;
	width: 100%;
	margin-top:0px;
	margin-bottom: 0px;
}

.leftDiv{
	background: white;
	float:left;
	width:49.79%;
	height:100%;
	overflow: auto;

	
	
}

.rightDiv{
	background: white;
	height: 100%;
	float:right;
	width:50%;
	border-left: double #4480D2;
	
}

.noLinkWhite{
	color: white !important;
	text-decoration: none;
	font-weight: bold;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}