RewriteEngine on

Redirect https://www.jacquesellis.nl/muziekles https://www.jacquesellis.nl/muziekles.html

Redirect www.jacquesellis.nl/muziekles https://www.jacquesellis.nl/muziekles.html

Redirect jacquesellis.nl/muziekles https://www.jacquesellis.nl/muziekles.html
